body {
  background-image: url(images/bg-dark-theme.png);
  padding-block: 1rem;

  > * {
    width: clamp(21rem, 90svw, 61rem);
    margin-inline: auto;
  }
}

.logo {
  margin-bottom: 1rem;
  height: 3rem;
}

main {
  color: #fff;
}

.character-wrapper {
  > :first-child {
    text-align: center;
    font-size: 2.3rem;
  }

  .text-input {
    width: 100%;
    resize: none;
    border-radius: 10px;
    margin-block: 0.5rem;

    &:focus {
      border: 2px solid #4b0082;
      outline: #4b0082;
      box-shadow: 0 0 1rem #4b0082;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    margin-block: 0.5rem;

    .space-option,
    .character-option {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      input[type="checkbox"] {
        width: 1.1em;
        aspect-ratio: 1;
        background: transparent;
        border: 0.15em solid;
        border-radius: 0.15em;
      }
    }
  }

  .banner-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .banner {
      padding: 1rem;
      background-repeat: no-repeat;
      background-position: 110%;
      border-radius: 10px;

      span {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    > :first-child {
      background-color: rgb(211 160 250);
      background-image: url(images/pattern-character-count.svg);
    }

    > :nth-child(2) {
      background-color: rgb(255 159 0);
      background-image: url(images/pattern-word-count.svg);
    }

    > :last-child {
      background-color: rgb(254, 129, 89);
      background-image: url(images/pattern-sentence-count.svg);
    }
  }

  .letter-density {
    margin-block: 0.5rem;

    > :first-child {
      margin-bottom: 0.5rem;
    }
  }
}
