body {
  background-image: url(images/bg-dark-theme.png);
  padding-block: 1rem;

  > * {
    width: clamp(21rem, 90svw, 61rem);
    margin-inline: auto;
  }
}

.logo {
  margin-bottom: 1rem;
  height: 3rem;
}

main {
  color: #fff;
}

.character-wrapper {
  > :first-child {
    text-align: center;
    font-size: 2.3rem;
  }

  .text-input {
    width: 100%;
    resize: none;
    border-radius: 10px;
    margin-block: 0.5rem;

    &:focus {
      border: 2px solid #4b0082;
      outline: #4b0082;
      box-shadow: 0 0 1rem #4b0082;
    }
  }

  .no-space-option {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    margin-inline: 1rem;
    gap: 0.5rem;

    input[type="checkbox"] {
      width: 1.1em;
      aspect-ratio: 1;
      background: transparent;
      border: 0.15em solid;
      border-radius: 0.15em;
    }
  }

  .banner-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .banner {
      padding: 1rem;
      background-repeat: no-repeat;
      background-position: 110%;
      border-radius: 10px;

      span {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    > :first-child {
      background-color: rgb(211 160 250);
      background-image: url(images/pattern-character-count.svg);
    }

    > :nth-child(2) {
      background-color: rgb(255 159 0);
      background-image: url(images/pattern-word-count.svg);
    }

    > :last-child {
      background-color: rgb(254, 129, 89);
      background-image: url(images/pattern-sentence-count.svg);
    }
  }

  .letter-density,
  .letter-density-empty {
    background-color: #121214;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
  }

  .density-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
  }

  .letter-label {
    font-weight: 600;
  }

  .progress-wrapper {
    flex-grow: 1;
    height: 0.7rem;
    background-color: #2c2c35;
    border-radius: 20px;
    margin-inline: 0.7rem;
    border: 1px solid #3f3f46;
  }

  .progress-fill {
    height: 100%;
    background-color: #d2a8ff;
    border-radius: 20px;
    transition: width 0.3s ease-in-out;
  }

  .count-label {
    width: 90px;
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  .percentage {
    color: #a1a1aa;
    font-size: 0.9em;
  }

  #viewMoreBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
  }
}
